body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.45em;
	color:#993a00;
	background-color: #fffdfc;
	margin: 0px;
}


/*BEAN PARALLAX*/
div#beans-parallax
{
	background-image: url("beans.jpg");
	height: 600px;
	background-attachment:fixed;
	background-repeat: repeat-x;
}
#beans-parallax h1{
	line-height:300px;
	text-align:center;
	color:white;
}

#beans-parallax h2{
	text-align:center;
	color:white;
}

.info-container {
  	height: 480px ;
  	background-color:#B05D2A;
  	border: 3px solid;
  	border-color:#993a00;
}

#infobox {
	display:inline-block;
	overflow: auto;
	float:left;
	width: 40%;
	height: 406px;
	margin: 30px 5%;
	border: 2px solid;
	border-radius: 15px;
	padding:10px 20px;
	text-align:center;
  	vertical-align: middle;
 	background-color:white;
}

.get-the-app{
	color:black;
	height: 350px;
	margin-left:1%;
}
.get-the-app #left-info{
	float:left;
	width:62%;
	height:50%;
}
.get-the-app #app-links{
	text-align: center;
	vertical-align:middle;
	width:inherit;
	height:125px;
}
.get-the-app #side-beans{
	height:350px;
	width:33%;
	float:right;
	overflow:hidden;
	margin-left: 5%;
	background-image:url(beans-side.png);
	background-position:center top;
	background-attachment: fixed;
	background-repeat:repeat-x;
}
