.horiz-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom:1px solid gray;
}

.horiz-nav li.my-items{
	float: right;
}

.horiz-nav li {
    float: left;
}

.horiz-nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 17px 25px;
    text-decoration: none;
    border-left:0.5px solid white;
    border-right:0.5px solid white;
}

.horiz-nav li #logo{
	height: 55px;
	width: auto;
}

.horiz-nav a:hover{
	background-color:#424242;
	color:white;
	transition:background-color 0.25s;
}

.horiz-nav a:active{
	background-color:#212121;
	color:white;
}

.horiz-nav .dropdown{
	display:none;
}
@media (max-width:768px){
	.horiz-nav li a{
		padding:12px 15px;
	}
	.horiz-nav li #logo{
		height: 42px;
		width: auto;
	}
	.horiz-nav li>a{/*everything but the dropdown and the logo*/
		display:none;
	}
	.horiz-nav li div.dropdown{
		display:inline-block;
	}
	.dropdown-contents{
		display: none;
    	background-color: white;
    	border:1px solid gray;
	}
	.dropdown-contents a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}
	.dropdown:hover .dropdown-contents{
	    position:fixed;
	    right:0px;
		display:block;
	}
}